/**********************
        MIXINS
***********************/
.relativeLeftPosition(@left:-20px) {
  position: relative;
  left: @left;
}

.inputText(@percent:1) {
  .relativeLeftPosition;
  height: @outputs-and-buttons-height;
  width: @default-input-text-width * @percent;
}

.textAllignedSpecial(@position:center) {
  text-align: @position;
  height: @outputs-and-buttons-height;
  margin-bottom: 15px;
}