/**********************
    MAIN LESS FILE

    Central point;
    Everything is imported here.
***********************/

@import "constants";
@import "mixins";

@import "maticniPodaciForm";
@import "upisi";
@import "rezultatiIspita";
@import "kratakPregled";
@import "dodavanjePolozenogIspitaModal";
@import "labelAndYearIndexComboBox";

/**********************
         STYLES
***********************/
.superNarrowInputText {
  .inputText(0.3)
}

.narrowInputText {
  .inputText(0.6)
}

.standardInputText {
  .inputText(1);
}

.wideInputText {
  .inputText(1.6)
}

.superWideInputText {
  .inputText(2.5)
}

.textAllignedRight {
  text-align: right;
  height: @outputs-and-buttons-height;
}

.textAllignedRightSpecial {
  .textAllignedSpecial(right)
}

.textAllignedLeftSpecial {
  .textAllignedSpecial(left)
}

.bottom {
  position: absolute;
  bottom: 30px;
}
